#!/usr/bin/make -f
# -*- makefile -*-
# Copyright (c) 2009 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
%:
	dh $@

override_dh_install:
	dh_install
	# TODO: Make this a relative symlink to sbin/chromeos-postinst and
	# test. Note: Previously this was an absolute symlink but there was
	# an issue where it would use the host rather than target's
	# postinst.
	cp $(CURDIR)/chromeos-postinst \
	  $(CURDIR)/debian/chromeos-installer/postinst
