#!/usr/bin/make -f
# -*- makefile -*-
# Copyright (c) 2009 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

build: build-stamp
build-stamp:
	dh_testdir
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	dh_clean

install:
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	cp $(CURDIR)/chromeos_install.sh \
	  $(CURDIR)/debian/chromeos-installer/usr/sbin/chromeos-install
	cp $(CURDIR)/postinst.sh \
	  $(CURDIR)/debian/chromeos-installer/usr/sbin/chromeos-postinst
	cp $(CURDIR)/postinst.sh \
	  $(CURDIR)/debian/chromeos-installer/postinst

# Build architecture-independent files here.
binary-indep: install
	dh_testdir
	dh_testroot
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep

.PHONY: build clean install binary-indep binary
