AUTHOR = "Chrome OS Team"
NAME = "Accurate system time"
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "System"
TEST_TYPE = "client"

DOC = """
This test tests whether the system time is set within allowable drift from
the configured NTP server's time.
"""

job.run_test('system_AccurateTime', max_offset=2)
