# Copyright (c) 2009 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "BootPerfServer"
TIME = "SHORT"
TEST_CATEGORY = "Benchmark"
TEST_CLASS = "system"
TEST_TYPE = "server"

DOC = """
This test reboots the client and uses the client-side system_BootPerf test
to collect boot performance metrics.
"""

def run_bootperf(machine):
    host = hosts.create_host(machine)
    job.run_test("system_BootPerfServer", host=host)

parallel_simple(run_bootperf, machines)
