# Copyright (c) 2009 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

TIME='MEDIUM'
AUTHOR = 'The Chromium OS Authors'
DOC = """
Tests storage performance using the currently unmounted root partition.

NOTE: If autoupdate or another program accesses the spare root partition
while this test is running corruption may occur.
"""
NAME = 'STORAGE_BENCHMARK'
TEST_CLASS = 'Hardware'
TEST_CATEGORY = 'Performance'
TEST_TYPE = 'client'

job.run_test('storage_Fio')
