#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#

# Standard ignores
*.a
*.la
*.lo
*.o
*.pyc
*.so
*~
.sconsign.dblite
.*.swp

# Executables
/src/common/unittests

# User files
/src/scripts/.chromeos_dev
/src/scripts/.default_board
/src/scripts/shared_user_passwd.txt

# Ignore DEPS
/src/overlays/overlay-arm-generic/
/src/overlays/overlay-beagleboard/
/src/overlays/overlay-st1q/
/src/overlays/overlay-x86-generic/
/src/overlays/overlay-tegra2-dev-board/
/src/platform/cros/
/src/platform/login_manager/
/src/platform/pam_google/
/src/platform/text_input/
/src/third_party/alsa-lib/
/src/third_party/anthy/
/src/third_party/autotest/files/
/src/third_party/cairo/
/src/third_party/chrome/files/
/src/third_party/chromiumos-overlay/
/src/third_party/connman/build/
/src/third_party/connman/connman-0.42/
/src/third_party/curl/
/src/third_party/dhcp3/
/src/third_party/dhcpcd/dhcpcd-dbus/
/src/third_party/dhcpcd/dhcpcd/
/src/third_party/e2fsprogs/files/
/src/third_party/fio/files/
/src/third_party/flimflam/
/src/third_party/gconf/
/src/third_party/gflags/files/
/src/third_party/gmock/files/
/src/third_party/google-breakpad/files/
/src/third_party/gpt/
/src/third_party/gtest/files/
/src/third_party/gtk+2.0/
/src/third_party/ibus-anthy/files/
/src/third_party/ibus-chewing/files/
/src/third_party/ibus-hangul/files/
/src/third_party/ibus-m17n/files/
/src/third_party/ibus-pinyin/files/
/src/third_party/ibus/files/
/src/third_party/kernel/files/
/src/third_party/kernel-qualcomm/
/src/third_party/laptop-mode-tools/
/src/third_party/m17n-lib/
/src/third_party/modemmanager/
/src/third_party/openssh/
/src/third_party/openssl/
/src/third_party/pam-dev/
/src/third_party/pango/
/src/third_party/ply-image/src/
/src/third_party/portage/
/src/third_party/rsyslog/
/src/third_party/shflags/files/
/src/third_party/shunit2/files/
/src/third_party/syslinux/files/
/src/third_party/tpm-emulator/
/src/third_party/trousers/
/src/third_party/tzdata/
/src/third_party/u-boot/files/
/src/third_party/upstart/files/
/src/third_party/vectormath/
/src/third_party/vim/
/src/third_party/wpa_supplicant/build/
/src/third_party/wpa_supplicant/hostap.git/
/src/third_party/xf86-video-msm/
/src/third_party/xscreensaver/xscreensaver-5.08/
/src/third_party/xserver-xorg-core/
/tools/chromiumos-build/

# Top-level directories to ignore
/chroot/
/repo/
/src/build/
/src/platform/dev/static
