# Copyright (c) 2009 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "ChromeKillRestart"
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "UI"
TEST_TYPE = "client"

DOC = """
This test kills the Chrome processes and checks if they get restarted."
"""

job.run_test('ui_ChromeKillRestart')
