#!/usr/bin/make -f
# -*- makefile -*-
# Copyright (c) 2009 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

build: build-stamp
build-stamp:
	dh_testdir
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	dh_clean

install:
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	cp $(CURDIR)/shutdown.sh $(CURDIR)/debian/chromeos-init/etc/init.d/chromeos_shutdown
	cp $(CURDIR)/startup.sh $(CURDIR)/debian/chromeos-init/etc/init.d/chromeos_startup
	cp $(CURDIR)/acpid.conf $(CURDIR)/debian/chromeos-init/etc/init/acpid.conf
	cp $(CURDIR)/connman.conf $(CURDIR)/debian/chromeos-init/etc/init/connman.conf
	cp $(CURDIR)/cron.conf $(CURDIR)/debian/chromeos-init/etc/init/cron.conf
	cp $(CURDIR)/devkit.conf $(CURDIR)/debian/chromeos-init/etc/init/devkit.conf
	cp $(CURDIR)/dbus.conf $(CURDIR)/debian/chromeos-init/etc/init/dbus.conf
	cp $(CURDIR)/dump-boot-stats.conf $(CURDIR)/debian/chromeos-init/etc/init/dump-boot-stats.conf
	cp $(CURDIR)/halt.conf $(CURDIR)/debian/chromeos-init/etc/init/halt.conf
	cp $(CURDIR)/iptables.conf $(CURDIR)/debian/chromeos-init/etc/init/iptables.conf
	cp $(CURDIR)/netdebug.conf $(CURDIR)/debian/chromeos-init/etc/init/netdebug.conf
	cp $(CURDIR)/ntp.conf $(CURDIR)/debian/chromeos-init/etc/init/ntp.conf
	cp $(CURDIR)/preload-chrome.conf $(CURDIR)/debian/chromeos-init/etc/init/preload-chrome.conf
	cp $(CURDIR)/procps.conf $(CURDIR)/debian/chromeos-init/etc/init/procps.conf
	cp $(CURDIR)/reboot.conf $(CURDIR)/debian/chromeos-init/etc/init/reboot.conf
	cp $(CURDIR)/software-update.conf $(CURDIR)/debian/chromeos-init/etc/init/software-update.conf
	cp $(CURDIR)/startup.conf $(CURDIR)/debian/chromeos-init/etc/init/startup.conf
	cp $(CURDIR)/stop-bootchart.conf $(CURDIR)/debian/chromeos-init/etc/init/stop-bootchart.conf
	cp $(CURDIR)/syslog.conf $(CURDIR)/debian/chromeos-init/etc/init/syslog.conf
	cp $(CURDIR)/udev.conf $(CURDIR)/debian/chromeos-init/etc/init/udev.conf
	cp $(CURDIR)/ui.conf $(CURDIR)/debian/chromeos-init/etc/init/ui.conf
	cp $(CURDIR)/wpasupplicant.conf $(CURDIR)/debian/chromeos-init/etc/init/wpasupplicant.conf

# Build architecture-independent files here.
binary-indep: install
	dh_testdir
	dh_testroot
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep

.PHONY: build clean install binary-indep binary
