#!/usr/bin/make -f
# -*- makefile -*-
# Copyright (c) 2009 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
%:
	dh --buildsystem=scons_chromeos $@

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DEB_HOST_ARCH := $(shell dpkg-architecture -qDEB_HOST_ARCH)
ifneq (,$(filter i386 amd64,$(DEB_HOST_ARCH)))
	BREAKPAD := USE_BREAKPAD=1
else
	BREAKPAD :=
endif

override_dh_auto_build:
	dh_auto_build -- $(BREAKPAD) wm screenshot

override_dh_auto_install:
	cp $(CURDIR)/wm $(CURDIR)/debian/chromeos-wm/usr/bin/chromeos-wm
