AUTHOR = "ChromeOS Team"
DOC = "Checks whether dhclient can save its lease file."
NAME = "DHCLIENT_LEASE_TEST"
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "General"
TEST_TYPE = "client"

job.run_test('network_DhclientLeaseTestCase')
