#!/usr/bin/make -f
# -*- makefile -*-
# Copyright (c) 2009 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
%:
	dh $@

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

build: build-stamp
	scons -Q

build-stamp:
	dh_testdir
	touch $@

override_dh_install:
	dh_install
	cp $(CURDIR)/bin/mount $(CURDIR)/debian/chromeos-cryptohome/usr/sbin/mount.cryptohome
	cp $(CURDIR)/bin/umount $(CURDIR)/debian/chromeos-cryptohome/usr/sbin/umount.cryptohome
	# Files for transitioning to DBus
	cp $(CURDIR)/cryptohomed $(CURDIR)/debian/chromeos-cryptohome/usr/sbin/cryptohomed
	cp $(CURDIR)/libcryptohome.so $(CURDIR)/debian/chromeos-cryptohome/usr/lib/libcryptohome.so
	cp $(CURDIR)/libcryptohome_service.so $(CURDIR)/debian/chromeos-cryptohome/usr/lib/libcryptohome_service.so
	# TODO(wad) treat as conffiles
	cp $(CURDIR)/etc/Cryptohome.conf $(CURDIR)/debian/chromeos-cryptohome/etc/dbus-1/system.d/Cryptohome.conf
	cp $(CURDIR)/share/org.chromium.Cryptohome.service $(CURDIR)/debian/chromeos-cryptohome/usr/share/dbus-1/services/org.chromium.Cryptohome.service

override_dh_installdeb:
	dh_installdeb
	# Don't treat our version of pam_mount.xml.conf as a conffile.
	rm debian/chromeos-cryptohome/DEBIAN/conffiles
