#!/usr/bin/make -f
# -*- makefile -*-
# Copyright (c) 2009 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
%:
	dh $@

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

override_dh_install:
	dh_install
	cp $(CURDIR)/bin/mount $(CURDIR)/debian/chromeos-cryptohome/usr/sbin/mount.cryptohome
	cp $(CURDIR)/bin/umount $(CURDIR)/debian/chromeos-cryptohome/usr/sbin/umount.cryptohome

override_dh_installdeb:
	dh_installdeb
	# Don't treat our version of pam_mount.xml.conf as a conffile.
	rm debian/chromeos-cryptohome/DEBIAN/conffiles
