# Copyright (c) 2009 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

Source: libchromeos
Section: unknown
Priority: extra
Maintainer: The Chromium OS Authors <chromium-os-dev@googlegroups.com>
Build-Depends: debhelper (>= 7.3.0), dh-chromeos, scons, pkg-config, libchrome-dev, libdbus-1-dev, libglib2.0-dev, libdbus-glib-1-dev
Standards-Version: 3.8.0

Package: libchromeos-dev
Architecture: any
Depends: ${shlibs:Depends}
Description: Chrome OS base library
 Chrome OS base library, currently static-only.
