# Copyright (c) 2009 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

Source: chromeos-pam-google
Priority: extra
Maintainer: The Chromium OS Authors <chromium-os-dev@googlegroups.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0
Section: libs

Package: chromeos-pam-google
Section: libs
Architecture: any
Depends: libpam0g, libgoogle-glog0, libcurl3, ${shlibs:Depends}, ${misc:Depends}
Description: Linux-PAM module to authenticate against Google
 A Linux-PAM module that takes a Google username and password
 and authenticates against Google's authentication service
