#!/usr/bin/make -f
# -*- makefile -*-
# Copyright (c) 2009 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
%:
	dh $@

DEB_HOST_ARCH := $(shell dpkg-architecture -qDEB_HOST_ARCH)

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

override_dh_auto_build:
	./copy_chrome_zip.sh -a $(DEB_HOST_ARCH)

override_dh_auto_install:
	# (note: use ./dirs file instead of mkdir -p here)
	# Unzip chrome-linux.zip into chrome/
	unzip $(CURDIR)/chrome-chromeos.zip
	# We may need to rename .../chrome-linux to chrome-chromeos
	mv $(CURDIR)/chrome-linux $(CURDIR)/chrome-chromeos || true
	mv $(CURDIR)/chrome-chromeos \
	  $(CURDIR)/debian/chromeos-chrome/opt/google/chrome

override_dh_install:
	dh_install
	# Make the script use "google-chrome" instead of "chromium" for
	# official builds.
	if [ "$(USE_RELEASE_CHROME)" = "1" ]; then \
	  perl -pi -le '$$_ = "PROFILE_DIR=google-chrome" if /^PROFILE_DIR=/' \
	    $(CURDIR)/debian/chromeos-chrome/usr/bin/chromeos-chrome-loop; \
	fi

override_dh_shlibdeps:
	# Don't scan shlibs for dependencies, since the chroot environment
	# doesn't have all the packages installed to run chrome.
