# Copyright (c) 2009 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

Source: memento-updater
Priority: optional
Maintainer: The Chromium OS Authors <chromium-os-dev@googlegroups.com>
Section: utils

Package: memento-updater
Section: utils
Architecture: all
Depends: bash, grep, gzip, openssl, sed, wget
Description: Memento Autoupdater
 Autoupdate for Memento. Pings Omaha daily to check for updates.
 Installs updates on a free USB stick partition.
