# Copyright (c) 2009 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

Source: chromeos-screenlocker
Section: x11
Priority: optional
Maintainer: The Chromium OS Authors <chromium-os-dev@googlegroups.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0

Package: chromeos-screenlocker
Architecture: any
Depends: xscreensaver
Replaces: xscreensaver
Description: Screen locker configuration for Chrome OS.  Includes custom app-defaults and a pam configuration file.
