# Copyright (c) 2009-2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

Source: chromeos-pam-offline
Priority: extra
Maintainer: The Chromium OS Authors <chromium-os-dev@googlegroups.com>
Build-Depends: debhelper (>= 7.3.0), dh-chromeos, scons, libchrome-dev, libchromeos-dev, libpam0g-dev, libssl-dev, libgflags-dev, libgtest-dev, libpcre3-dev, libcurl4-openssl-dev
Standards-Version: 3.8.0
Section: libs

Package: chromeos-pam-offline
Section: libs
Architecture: any
Depends: openssl, ${shlibs:Depends}, ${misc:Depends}
Description: Linux-PAM module to perform offline authentication in Chrome(ium)OS.
