# Copyright (c) 2009 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

Source: chromeos-microbenchmark
Priority: extra
Maintainer: The Chromium OS Authors <chromium-os-dev@googlegroups.com>
Build-Depends: debhelper (>= 7.0.50), dh-chromeos, libgtest-dev
Standards-Version: 3.8.0
Section: libs

Package: chromeos-microbenchmark
Section: libs
Architecture: any
Depends: libc6, libgcc1, ${shlibs:Depends}, ${misc:Depends}
Description: A static microbenchmark file and headers
 A microbenchmarking framework which depends on libgtest and libbase
 to create simple, standalone microbenchmark binaries.
