#!/usr/bin/make -f
# -*- makefile -*-
# Copyright (c) 2009 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# The number of jobs to pass to tools that can run in parallel (such as make
# and dpkg-buildpackage
NUM_JOBS=`cat /proc/cpuinfo | grep processor | awk '{a++} END {print a}'`

build: build-stamp
build-stamp:
	dh_testdir
	scons -j$(NUM_JOBS) -Q
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	scons -c
	dh_clean

install: build
	 dh_testdir
	 dh_testroot
	 dh_prep
	 dh_installdirs
	 cp $(CURDIR)/libchromeos_microbenchmark_main.a $(CURDIR)/debian/chromeos-microbenchmark/usr/lib/libchromeos_microbenchmark_main.a
	 cp $(CURDIR)/microbenchmark.h $(CURDIR)/debian/chromeos-microbenchmark/usr/include/microbenchmark/microbenchmark.h

# Build architecture-dependent files here.
binary-arch: install
	     dh_testdir
	     dh_testroot
	     dh_link
	     dh_strip
	     dh_compress
	     dh_fixperms
	     dh_installdeb
	     dh_shlibdeps
	     dh_gencontrol
	     dh_md5sums
	     dh_builddeb

binary: binary-arch

.PHONY: build clean install binary-arch binary
