NAME = "LOGIN_AUTH_TEST"
AUTHOR = "ChromeOS Team"
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "General"
TEST_TYPE = "client"

DOC = """
Tests online authentication using pam_google. Authentication data for 
test user accounts and passwords is read from authentication-test.dat
"""

job.run_test('login_AuthenticationTests')
