#!/usr/bin/make -f
# -*- makefile -*-
# Copyright (c) 2009 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
%:
	dh $@

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

override_dh_install:
	dh_install
	mkdir -p $(CURDIR)/debian/hal/etc/init.d/
	cp $(CURDIR)/hal_init.sh $(CURDIR)/debian/hal/etc/init.d/hal
